*{
    margin: 0;
    padding: ;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    text-align: center;
    margin-top: 20px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
/*header*/
header{
    background-color: rgb(248, 173, 11);

}
header img{
    width:30%
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}